<div class="cart content-wrapper">
	<h1>Shopping Cart</h1>
	<form action="index.php?view=cart" method="post">
		<table>
			<thead>
				<tr>
					<td></td>
					<td>Product</td>
					<td>Unit</td>
					<td>Quantity</td>
					<td>Availability</td>
					<td>Total Price</td>
				</tr>
			</thead>
			<tbody>
				{% if  check_products%}
					<tr>
						<td colspan="6" style="text-align:center;">You have no products added in your Shopping Cart</td>
					</tr>
				{% else %}
					{% for product in products %}
						<tr>
							<td class="img">
								<a href="index.php?view=product&id={{product['id']}}">
									<img src="resources/{{product['img']}}" width="50" height="50" alt="{{product['name']}}">
								</a>
							</td>
							<td>
								<a href="index.php?view=product&id={{product['id']}}">{{product['name']}}</a>
							</td>
							<td class="price UnitPrices">{{product['price']}}
								€</td>
							<td class="quantity">
								<input type="number" class="UnitQuantities" name="quantity-{{product['id']}}" value="{{products_in_cart[product['id']]}}" min="0" max="{{product['quantity']}}" placeholder="Quantity" onchange="countAgain()" required>
							    <a href="index.php?view=cart&action=remove&productId={{product['id']}}" class="remove">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
                            </td>
							<td class="availability-{{ product['quantity'] > 0 ? " yes" : " no"}}">
								Stock
								{% if product['quantity'] > 0 %}
									Available -
									{{product['quantity']}}
									Units Left
								{% else %}
									Unavailable
								{% endif %}
							</td>
							<td class="price UnitTotals">{{product['price'] * products_in_cart[product['id']]}}
								€</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
		<div class="cart-saved" id="SaveNotifier">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<p>
				Don't forget to update your cart!
			</p>
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		</div>
		<div class="subtotal">
			<span class="text">Subtotal</span>
			<span class="price" id="TotalPrice">{{subtotal}}
				€</span>
		</div>
		<div class="buttons">
			<input type="submit" value="Update Cart" name="update" id="StealthUpdate">
			{% if not check_products %}
				<input type="submit" value="Purchase" name="purchase" id="Purchase">
			{% endif %}
		</div>
	</form>
</div>
<script>
	function countAgain() {
        const itemsQuantities = document.getElementsByClassName("UnitQuantities");
        const itemPrices = document.getElementsByClassName("UnitPrices");
        const itemTotals = document.getElementsByClassName("UnitTotals");

        let count = 0;
        for (let i = 0; (i < itemPrices.length | 0 && i < itemsQuantities.length | 0) && i < itemTotals.length | 0; i += 1 | 0) {
        const localResult = itemsQuantities[i].value * parseFloat(itemPrices[i].textContent);
        count += localResult;

        itemTotals[i].textContent = `${
        localResult.toFixed(2)
        } €`;
        }

        document.getElementById("TotalPrice").textContent = `${
        count.toFixed(2).toString()
        } €`;
        updated();
        }

        let CartWarning = document.getElementById("SaveNotifier");

        function updated() {
        CartWarning.setAttribute("class", "cart-not-saved");
    }
</script>
