<!DOCTYPE html>
<html>
	<head>
		<title>{{local_title}} of Wizishop Project</title>
		<link href="styles/global.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="icon" type="image/x-icon" href="resources/favicon.ico">
	</head>
	<body>
        <header>
            <div class="content-wrapper">
                <a id="logo" href="index.php"><h1><div id="wizi-blue">The 4</div><div id="wizi-green">0 thieves</div></h1>
                <nav>
                    <a href="index.php">Home</a>
                    <a href="index.php?view=products">Products</a>
                    <a href="resources/ElyessGloulouDeveloppeurBackend.pdf" target="_blank" rel="noopener noreferrer">About</a>
                </nav>
                <div class="link-icons">
                    <a href="index.php?view=cart">
						<i class="fas fa-shopping-cart"></i>
                        <span>{{num_items}}</span>
					</a>
                </div>
            </div>
        </header>
        <div class="core">