<div class="recentlyadded content-wrapper">
    <h2>Latest purchases</h2>
    <div class="products">
        {% for product in recently_added_products %}
        <a href="index.php?view=product&id={{product['id']}}" class="product">
            <img src="resources/{{product['img']}}" width="200" height="200" alt="{{product['name']}}">
            <span class="name">{{product['name']}}</span>
            <span class="price">
                {{ product['price'] }} €
            </span>
            <div class="availability-{{ product['quantity'] > 0 ? "yes" : "no"}}">
            {% if product['quantity'] > 0 %}
                Available <i class="fa fa-check" aria-hidden="true"></i>
            {% else %} 
                Unavailable <i class="fa fa-times" aria-hidden="true"></i>
            {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>