<div class="product content-wrapper">
    <img src="resources/{{product['img']}}" width="500" height="500" alt="{{product['name']}}">
    <div>
        <h1 class="name">{{product['name']}}
        <div class="availability-{{ product['quantity'] > 0 ? "yes" : "no"}}">
        {% if product['quantity'] > 0 %}
            Available <i class="fa fa-check" aria-hidden="true"></i>
        {% else %} 
            Unavailable <i class="fa fa-times" aria-hidden="true"></i>
        {% endif %}
        </div>
        </h1>
        <span class="price">
            {{product['price']}} €
        </span>
        {% if product['quantity'] > 0 %}
        <form action="index.php?view=cart" method="post">
            <input type="number" name="quantity" value="1" min="0" max="{{product['quantity']}}" placeholder="Quantity" required>
            <input type="hidden" name="product_id" value="{{product['id']}}">
            <input type="submit" value="Add To Cart">
        </form>
        {% endif %}
        <div class="description">
            {{product['desc'] | raw}}
        </div>
    </div>
</div>