<div class="products content-wrapper">
    <h1>Products</h1>
    <p>{{total_products}} Products</p>
    <div class="products-wrapper">
       {% for product in products %}
        <a href="index.php?view=product&id={{product['id']}}" class="product">
            <img src="resources/{{product['img']}}" width="200" height="200" alt={{product['name']}}>
            <span class="name">{{ product['name'] }}</span>
            <span class="price">
                {{ product['price'] }} €
            </span>
            <div class="availability-{{ product['quantity'] > 0 ? "yes" : "no"}}">
            {% if product['quantity'] > 0 %}
                Available <i class="fa fa-check" aria-hidden="true"></i>
            {% else %} 
                Unavailable <i class="fa fa-times" aria-hidden="true"></i>
            {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="buttons">
        {% if (current_view > 1) %}
        <a href="index.php?view=products&p={{current_view-1}}">Prev</a>
        {% endif %}
        {% if (total_products > (current_view * num_products_on_each_view) - num_products_on_each_view + counted_products) %}
        <a href="index.php?view=products&p={{current_view+1}}">Next</a>
        {% endif %}
    </div>
</div>

