
<div class="placeorder content-wrapper">
    <h1>Thank you for your purchase!</h1>
    

    <div class="buttons">
                <a class href="index.php?view=products">Buy more?</a>
                <a class href="index.php?view=home">Back Home</a>
            </form>
        </div>
</div>