* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	color: #555555;
	background-color: #FFFFFF;
	margin: 0;
	padding-bottom: 100px;
}
h1, h2, h3, h4, h5 {
	color: #394352;
}

table {
	text-align: center;
}

a:link[id="logo"]  {
	text-decoration: none;
}

h1 > #wizi-green {
	color: #9fc53b;
	font-size: larger;
	font-family: cursive;
}

.availability-yes {
	color: #36d069;
}

.availability-no {
	color: #d06736;

}


h1 > #wizi-blue {
	color: #36b0d0;
	font-size: larger;
	font-family: cursive;

}

.content-wrapper {
	width: 1050px;
	margin: 0 auto;
}

.content-wrapper > #center-me {
	text-align: center;
	display: flex;
	justify-content: center;
}

.core > p {
	text-align: center;
}

.core > .content-wrapper .buttons {
	text-align: right;
	padding-bottom: 40px;
}
.core > .content-wrapper .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
.core > .content-wrapper .buttons a:hover {
	color: #ffffff;
	background:#9fc53b;
}

div[class|="products content-wrapper"] > p{
text-align: center;
}

header {
	border-bottom: 1px solid #EEEEEE;
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 20px;
	margin: 0;
	padding: 24px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: #555555;
	padding: 10px 10px;
	margin: 0 10px;
}

header nav a:hover {
	color: #36b0d0;
	border-bottom: 1px solid #9fc53b;
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #36b0d0;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 18px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #9fc53b;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}
.core .featured {
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.core .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	color: #FFFFFF;
	padding-bottom: 10px;
}
.core .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 24px;
	color: #FFFFFF;
}
.core .recentlyadded h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}

.core .recentlyadded .products, .core .products .products-wrapper {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 0 0;
}
.core .recentlyadded .products .product, .core .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	width: 25%;
	padding-bottom: 60px;
}
.core .recentlyadded .products .product img, .core .products .products-wrapper .product img {
	transform: scale(1);
	transition: transform 1s;
}
.core .recentlyadded .products .product .name, .core .products .products-wrapper .product .name {
	display: block;
	color: #555555;
	padding: 20px 0 2px 0;
}
.core .recentlyadded .products .product .price, .core .products .products-wrapper .product .price {
	display: block;
	color: #999999;
}
.core .recentlyadded .products .product , .core .products .products-wrapper .product {
	color: #BBBBBB;
}
.core .recentlyadded .products .product:hover img, .core .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
.core .recentlyadded .products .product:hover .name, .core .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
.core > .product {
	display: flex;
	padding: 40px 0;
}
.core > .product > div {
	padding-left: 15px;
}
.core > .product h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	padding: 20px 0 10px 0;
}
.core > .product .price {
	display: block;
	font-size: 22px;
	color: #999999;
}

.core > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
.core > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
.core > .product form input[type="submit"] {
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
.core > .product form input[type="submit"]:hover {
	background: #9fc53b;;
	color: #ffffff;
}
.core > .products h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.core > .products .buttons {
	text-align: right;
	padding-bottom: 40px;
}
.core > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
.core > .products .buttons a:hover {
	color: #ffffff;
	background:#9fc53b;
}
.core .cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.core .cart table {
	width: 100%;
}
.core .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
.core .cart table thead td:last-child {
	text-align: right;
}
.core .cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
.core .cart table tbody td:last-child {
	text-align: right;
}
.core .cart table .img {
	width: 80px;
}
.core .cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}
.core .cart table .remove:hover {
	text-decoration: underline;
	color: #c41c1c;
}
.core .cart table .price {
	color: #999999;
}
.core .cart table a {
	text-decoration: none;
	color: #555555;
}
.core .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
.core .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
.core .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
.core .cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
.core .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
.core .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.core .cart .buttons input[type="submit"]:hover {
	color: #ffffff;
	background:#9fc53b;
}
.core .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
.core .placeorder p {
	text-align: center;
}

div[class="cart-saved"] {
	display: none;
}

div[class="cart-not-saved"] {
	display: flex;
	flex: 1 1 0;
	align-items: center;
	color: #be7777;
	font-size: 8px;
	justify-content: center;
}

div[class="cart-not-saved"] > .fa-exclamation-triangle{
	padding: 0 2ch;
}

footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #EEEEEE;
	padding: 20px 0;
	width: 100%;
}